.container {
    width: 800px;
    margin: 0 auto;
}

body {
    background-color: #00ffcc;
}

#welcome {
    background-color: red;
    width: 100%;

}

.input100 {
    width: 100%;
}

#introductory {
    width: 100%;
    height: auto;
    border: 1px solid blueviolet;
}

#sponsor {
    width: 100%;
    display: block;
    background-color: red;
}

#sponsor ul {
    list-style: none;
    position: relative;
    width: 100%;
    background: blue;
    
}

#sponsor ul li {
    position: relative;
    float: left;
    padding-right: 5px;    
}